.text1_style {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    /* identical to box height, or 160% */
    text-align: center;
    color: #FFFFFF;
    padding-top: 5%;
}

.text2_subSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.text2_subSection p {
    cursor: pointer;
}

.text2_subSection p.active {
    /* Auto layout */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* padding: 6px 16px; */
    gap: 30px;

    width: 51px;
    height: 29px;

    /* Medley/Accent */
    background: #F68E5F;
    border-radius: 48px;
}

.cards_container {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
}